/* =============== NOT INCLUDED BELOW  =============== */
/* remove category banner on top of page  */
.hide-groupPromo--bg .groupPromo--bg {
    display: none;
}

/* removes deal images */
.hide-threadGrid-image .threadGrid-image {
    display: none
}

/* remove deal description preview   */
.hide-userHtml .userHtml {
    display: none;
}

.greyscale {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='saturate' values='0'/></filter></svg>#grayscale");
}

/* =============== INCLUDED SOON BELOW  =============== */

/* remove 99+ new deals badge from new, hot category */
main .circle--s {
    display: none;
}

/* remove message boxes between deals */
main .cept-banner {
    display: none;
}

/* remove deal author */
 main .c-author {
    display: none;
}

/* remove deal platform flag */
main .js-flag-mobile-source-ico {
    display: none;
}

/* =============== NOT INCLUDED BELOW  =============== */

/* 
main .btn--mode-primary {
    background-color: black;
}

main .text--color-brandPrimary {
    color: black;
}

main .thread-price {
    color: black;
}

main .cept-last-page {
    display: none;
}

 main .footer {
    display: none;
}

main .cept-vote-box {
    border-width: 0px;
}

main .btn--mode-boxSec {
    border-width: 0px;
}
*/

/* Reset the filter for specific elements that should not be grayscale - currently unused */
.colorful {
    filter: none;
    -webkit-filter: none;
    -moz-filter: none;
    -ms-filter: none;
    -o-filter: none;
}